.logo{
padding-top:39px;
padding-left: 30px;
}
.pirveli {
top: 80px;
padding-left: 30px;
width: 92px;
height: 25px;
text-align: left;
color: #EE4036 ;
}
 .meore {
 	padding-top: 7.24px;
	padding-left: 30px;
	text-align: left;
	width: 114px;
	height: 25px;
}
.mesame{
padding-top: 7.24px;
padding-left: 30px;
text-align: left ; 
width: 103px;
height: 25px;
color: #3D58A6;

}

.image{
	width:1170px;
	height:460px;
	padding-left: 30px;
	padding-top:21.13px;
}
.textbox{
position: absolute;
top: 225px;
left: 60px;
font-size: 30px;
color: #E6E6E6;

}
 
 .pirvelii {
top: 80px;
padding-left: 30px;
width: 92px;
height: 25px;
text-align: left;


 }

 .mesamee {
 padding-top: 7.24px;
padding-left: 30px;
text-align: left ; 
width: 103px;
height: 25px;
color: #EE4036;

 }

.text {

padding-top:121px; 
padding-left: 519px;
width: 250px;
height: 92px;
text-align: center;
}

 .sakontaqto{
    	font-size: 20px;
    	color: #3D58A6
    }

   

  .misamarti{
  	font-size: 16px;
  	color: grey;
  }

.telefoni 
{
	font-size: 16px;
	color: grey;
}



.first{

 	padding-top: 7.24px;
	padding-left: 30px;
	text-align: left;
	width: 114px;
	height: 25px;

}
.secend {

 	padding-top: 7.24px;
	padding-left: 30px;
	text-align: left;
	width: 114px;
	height: 25px;
	color: #EE4036;

}

.elfosta{

font-size: 16px;
color: #3D58A6
}
.number27 {

	font-size: 48px;
	width: 55px;
	height: 46px;
    background-color: blue ;
    margin-top: 34px;
    margin-left: 30px;
    
}
.may {

	font-size: 22px;
	padding-top: 2.6px;
	padding-left: 30px;
	width: 56px;
	height:25px;
	color: #3D58A6 ;
}
.minititle1 {
	

	padding-top: 18px;
	padding-left: 30px;
	font-size: 20px;


}
.compic {
 padding-top: 16px;
 padding-left:30px;
 width: 270px;
 height:210px;
	
}

.lorem {
	font-size: 16px;
	padding-top: 27px;
    padding-left:30px;
}

.number28 {

	font-size: 48px;
	width: 55px;
	height: 46px;
    background-color: blue ;
    margin-top: 34px;
    margin-left: 30px;
    
}
.may2 {

	font-size: 22px;
	padding-top: 2.6px;
	padding-left: 30px;
	width: 56px;
	height:25px;
	color: #3D58A6 ;
}
.minititle2 {
	

	padding-top: 18px;
	padding-left: 30px;
	font-size: 20px;


}
.codes {
 padding-top: 16px;
 padding-left:30px;
 width: 270px;
 height:210px;
	
}

.lorem2 {
	font-size: 16px;
	padding-top: 27px;
    padding-left:30px;
}

.number29 {

	font-size: 48px;
	width: 55px;
	height: 46px;
    background-color: blue ;
    margin-top: 34px;
    margin-left: 30px;
    }





